doctype html
html
  head
    title= 'Mystery Maze'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src="/javascripts/main.js")
  body
    link(rel='stylesheet', href='/stylesheets/style.css')
    canvas#myCanvas(width='300;', height='150')